@import url(./reset.css);
body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: white;
    width: 40vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 1rem 2rem;
    margin-top: 5rem;
}
button{
    border: none;
    border-radius: 10px;
}
button:hover{
    opacity: 0.8;
}
header h1{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
.settle-now-content, .item-add-content{
    display: flex;
    flex-direction: column;
    background-color: #b8b0b0;
    padding: 1rem 1rem;
}


.settle-now-content > p{
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}
.settle-amount p{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold; 
}

#settle-now{
    font-size: 1.25rem;
    padding: 1rem;
    font-weight: bold;
    color: white;
    background-color: blue;
}
.user-icons{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
}
.user-icons div img{
    height: 5rem;
    border-radius: 50%;
}
.settle-now-content div, .items-disc{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.item-add-content{
    border-radius: 10px;
}
input[type="text"] {
    font-size: 2rem;
}
.description{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
.description p, .amount p{
    padding-bottom: 0.5rem;
    font-weight: bold;
}
.description input{
    line-height: 2rem;
    border: none;
    width: 100%;
}
.amount input{
    line-height: 2rem;
    border: none;
   
}
.amount div{
    display: flex;
    justify-content: space-between; 
}
#add-new{
    font-size: 1.25rem;
    padding: 1rem;
    font-weight: bold;
    color: white;
    background-color: black;
}



.items-disc, .settle-now-content div{
    justify-content: space-between;
   
}
.items-lists{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.item{
    background-color: rgb(175, 171, 152);
    margin-bottom: 0.25rem;
    padding: 0.5rem;
}
.item > p{
    font-size: 1rem;
 }
.items-disc{
    font-size: 1.5rem
}
.items-disc p{
    
    font-weight: bold;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
}
#view-all{
    font-size: 1.1rem;
    font-weight: bold;
    
    
}

